<h1>Current NEWS</h1>

<a id="Nbutton" href="/articles" class="waves-effect waves-light btn-large">GET NEWS</a>

<h1>{{msg}}</h1>



<div id="newsbox">
    {{#each Articles}}
    <div class="card-header">
        Featured
    </div>
    <div class="card-body">
        <h5 class="card-title">{{this.Title}}</h5>
        <a href="{{this.Link}}">
            <p class="card-text">Click To Read Article!</p>
        </a>
        <a href="#" class="btn btn-primary">Comment</a>
    </div>
    <div class="card-footer text-muted">
        2 days ago
    </div>
    {{/each}}
</div>